.SearchNav {
  background-color: #055bb5;
  width: 100%;
  height: 60px;
}
.SearchNavInner {
  max-width: 62.5rem;
  margin: 0px auto;
  padding: 20px 0;
}
.SearchWidget {
  background-color: #053175;
  color: white;
  padding: 1em;
}
.coveo-tab-section {
  border-bottom: 0;
}
.coveo-search-section {
  max-width: 62.5rem !important;
  margin: 1em auto 1em auto !important;
  padding: 0 !important;
}
.CoveoTab {
  color: #ddd;
}
.CoveoTab:hover {
  color: white;
}
