html, body {
	background-color: white;
	height: 100px;
	margin: 0;
	padding: 0;
}
bodyn {
	height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
	background-color: black;
}
