.SearchNav {
  background-color: #055bb5;
  width: 100%;
  height: 60px;
  padding: 20px;
}
.SearchNavInner {
  max-width: 62.5rem;
  margin: 0px auto;
}
.SearchWidget {
  background-image: url('https://www.sophos.com/medialibrary/SophosNext/Images/Support/Search%20Widget/header-bg.png');
  background-size: cover;
  background-color: #053175;
  background-position-y: center;
  color: white;
  padding: 1em;
}
.coveo-tab-section {
  border-bottom: 0;
}
.coveo-search-section {
  max-width: 62.5rem !important;
  margin: 1em auto 1em auto !important;
  padding: 0 !important;
}
.CoveoSearchButton {
  background-color: white;
}
a, a:hover {
  color: #0090dd;
}
