@font-face {
    font-family: 'SophosSans-Light';
    src: url('../fonts/SophosSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SophosSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SophosSans-Light.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/SophosSans-Light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/SophosSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SophosSans-Light.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SophosSans-Medium';
    src: url('../fonts/SophosSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SophosSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SophosSans-Medium.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/SophosSans-Medium.woff') format('woff'), /* Modern Browsers */
        url('../fonts/SophosSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SophosSans-Medium.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'SophosSans-Regular';
    src: url('../fonts/SophosSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SophosSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SophosSans-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/SophosSans-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/SophosSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SophosSans-Regular.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
} 

@font-face{
    font-family: 'sophos-awakens';
    font-weight: 400;
    font-style: normal;
    src:url('../fonts/sophos-awakens.eot?9avi3t');
    src:url('../fonts/sophos-awakens.eot?9avi3t#iefix') format('embedded-opentype'),
        url('../fonts/sophos-awakens.ttf') format('truetype'),
        url('../fonts/sophos-awakens.woff?9avi3t') format('woff');
    font-weight: normal;
    font-style: normal;
}
